*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #283149;
}

.nav li a{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
}